$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$i-upload: "\e9c7";
$i-user: "\e9c8";
$i-calendar: "\e9c9";
$i-check_circle: "\ebe5";
$i-close_circle: "\e9cb";
$i-event: "\e9cc";
$i-plus: "\e9cf";
$i-report: "\e9d0";
$i-search: "\e9d1";
$i-error: "\e900";
$i-error_outline: "\e901";
$i-warning: "\e902";
$i-report_problem: "\e902";
$i-add_alert: "\e903";
$i-notification_important: "\e904";
$i-album: "\e905";
$i-av_timer: "\e906";
$i-closed_caption: "\e907";
$i-equalizer: "\e908";
$i-explicit: "\e909";
$i-fast_forward: "\e90a";
$i-fast_rewind: "\e90b";
$i-games: "\e90c";
$i-gamepad: "\e90c";
$i-hearing: "\e90d";
$i-high_quality: "\e90e";
$i-loop: "\e90f";
$i-sync: "\e90f";
$i-mic: "\e910";
$i-mic_none: "\e911";
$i-mic_off: "\e912";
$i-movie: "\e913";
$i-movie_creation: "\e913";
$i-library_add: "\e914";
$i-queue: "\e914";
$i-add_to_photos: "\e914";
$i-library_books: "\e915";
$i-library_music: "\e916";
$i-new_releases: "\e917";
$i-not_interested: "\e918";
$i-do_not_disturb: "\e918";
$i-pause: "\e919";
$i-pause_circle_filled: "\e91a";
$i-pause_circle_outline: "\e91b";
$i-play_arrow: "\e91c";
$i-play_circle_filled: "\e91d";
$i-play_circle_outline: "\e91e";
$i-playlist_add: "\e91f";
$i-queue_music: "\e920";
$i-radio: "\e921";
$i-recent_actors: "\e922";
$i-repeat: "\e923";
$i-repeat_one: "\e924";
$i-replay: "\e925";
$i-shuffle: "\e926";
$i-skip_next: "\e927";
$i-skip_previous: "\e928";
$i-snooze: "\e929";
$i-stop: "\e92a";
$i-subtitles: "\e92b";
$i-surround_sound: "\e92c";
$i-video_library: "\e92d";
$i-videocam: "\e92e";
$i-videocam_off: "\e92f";
$i-volume_down: "\e930";
$i-volume_mute: "\e931";
$i-volume_off: "\e932";
$i-volume_up: "\e933";
$i-web: "\e934";
$i-hd: "\e935";
$i-sort_by_alpha: "\e936";
$i-airplay: "\e937";
$i-forward_10: "\e938";
$i-forward_30: "\e939";
$i-forward_5: "\e93a";
$i-replay_10: "\e93b";
$i-replay_30: "\e93c";
$i-replay_5: "\e93d";
$i-add_to_queue: "\e93e";
$i-fiber_dvr: "\e93f";
$i-fiber_new: "\e940";
$i-playlist_play: "\e941";
$i-art_track: "\e942";
$i-fiber_manual_record: "\e943";
$i-fiber_smart_record: "\e944";
$i-music_video: "\e945";
$i-subscriptions: "\e946";
$i-playlist_add_check: "\e947";
$i-queue_play_next: "\e948";
$i-remove_from_queue: "\e949";
$i-slow_motion_video: "\e94a";
$i-web_asset: "\e94b";
$i-fiber_pin: "\e94c";
$i-branding_watermark: "\e94d";
$i-call_to_action: "\e94e";
$i-featured_play_list: "\e94f";
$i-featured_video: "\e950";
$i-note: "\e951";
$i-video_call: "\e952";
$i-video_label: "\e953";
$i-4k: "\e954";
$i-missed_video_call: "\e955";
$i-control_camera: "\e956";
$i-business: "\e957";
$i-call: "\e958";
$i-call_end: "\e959";
$i-call_made: "\e95a";
$i-call_merge: "\e95b";
$i-merge_type: "\e95b";
$i-call_missed: "\e95c";
$i-call_received: "\e95d";
$i-call_split: "\e95e";
$i-chat: "\e95f";
$i-clear_all: "\e960";
$i-comment: "\e961";
$i-contacts: "\e962";
$i-dialer_sip: "\e963";
$i-dialpad: "\e964";
$i-email: "\e965";
$i-mail: "\e965";
$i-markunread: "\e965";
$i-local_post_office: "\e965";
$i-forum: "\e966";
$i-question_answer: "\e966";
$i-import_export: "\e967";
$i-invert_colors_off: "\e968";
$i-live_help: "\e969";
$i-location_off: "\e96a";
$i-location_on: "\e96b";
$i-place: "\e96b";
$i-room: "\e96b";
$i-message: "\e96c";
$i-chat_bubble: "\e96d";
$i-chat_bubble_outline: "\e96e";
$i-no_sim: "\e96f";
$i-signal_cellular_no_sim: "\e96f";
$i-phone: "\e970";
$i-local_phone: "\e970";
$i-portable_wifi_off: "\e971";
$i-contact_phone: "\e972";
$i-contact_mail: "\e973";
$i-ring_volume: "\e974";
$i-speaker_phone: "\e975";
$i-stay_current_landscape: "\e976";
$i-stay_primary_landscape: "\e976";
$i-stay_current_portrait: "\e977";
$i-stay_primary_portrait: "\e977";
$i-smartphone: "\e977";
$i-swap_calls: "\e978";
$i-textsms: "\e979";
$i-sms: "\e979";
$i-voicemail: "\e97a";
$i-vpn_key: "\e97b";
$i-phonelink_erase: "\e97c";
$i-phonelink_lock: "\e97d";
$i-phonelink_ring: "\e97e";
$i-phonelink_setup: "\e97f";
$i-present_to_all: "\e980";
$i-import_contacts: "\e981";
$i-mail_outline: "\e982";
$i-screen_share: "\e983";
$i-stop_screen_share: "\e984";
$i-call_missed_outgoing: "\e985";
$i-rss_feed: "\e986";
$i-alternate_email: "\e987";
$i-mobile_screen_share: "\e988";
$i-add_call: "\e989";
$i-cancel_presentation: "\e98a";
$i-pause_presentation: "\e98b";
$i-unsubscribe: "\e98c";
$i-cell_wifi: "\e98d";
$i-sentiment_satisfied_alt: "\e98e";
$i-list_alt: "\e98f";
$i-domain_disabled: "\e990";
$i-lightbulb: "\e991";
$i-add: "\e992";
$i-add_box: "\e993";
$i-add_circle: "\e994";
$i-add_circle_outline: "\e995";
$i-archive: "\e996";
$i-backspace: "\e997";
$i-block: "\e998";
$i-clear: "\e999";
$i-content_copy: "\e99a";
$i-content_cut: "\e99b";
$i-content_paste: "\e99c";
$i-create: "\e99d";
$i-mode_edit: "\e99d";
$i-edit: "\e99d";
$i-drafts: "\e99e";
$i-filter_list: "\e99f";
$i-flag: "\e9a0";
$i-forward: "\e9a1";
$i-gesture: "\e9a2";
$i-inbox: "\e9a3";
$i-link: "\e9a4";
$i-insert_link: "\e9a4";
$i-redo: "\e9a5";
$i-remove: "\e9a6";
$i-remove_circle: "\e9a7";
$i-do_not_disturb_on: "\e9a7";
$i-remove_circle_outline: "\e9a8";
$i-reply: "\e9a9";
$i-reply_all: "\e9aa";
$i-report1: "\e9ab";
$i-save: "\e9ac";
$i-select_all: "\e9ad";
$i-send: "\e9ae";
$i-sort: "\e9af";
$i-text_format: "\e9b0";
$i-undo: "\e9b1";
$i-font_download: "\e9b2";
$i-move_to_inbox: "\e9b3";
$i-unarchive: "\e9b4";
$i-next_week: "\e9b5";
$i-weekend: "\e9b6";
$i-delete_sweep: "\e9b7";
$i-low_priority: "\e9b8";
$i-outlined_flag: "\e9b9";
$i-link_off: "\e9ba";
$i-report_off: "\e9bb";
$i-save_alt: "\e9bc";
$i-ballot: "\e9bd";
$i-file_copy: "\e9be";
$i-how_to_reg: "\e9bf";
$i-how_to_vote: "\e9c0";
$i-waves: "\e9c1";
$i-where_to_vote: "\e9c2";
$i-add_link: "\e9c3";
$i-inventory: "\e9c4";
$i-access_alarm: "\e9c5";
$i-alarm: "\e9c5";
$i-access_alarms: "\e9c6";
$i-access_time: "\e9cd";
$i-query_builder: "\e9cd";
$i-schedule: "\e9cd";
$i-add_alarm: "\e9ce";
$i-alarm_add: "\e9ce";
$i-airplanemode_off: "\e9d2";
$i-airplanemode_on: "\e9d3";
$i-flight: "\e9d3";
$i-local_airport: "\e9d3";
$i-battery_alert: "\e9d4";
$i-battery_charging_full: "\e9d5";
$i-battery_full: "\e9d6";
$i-battery_std: "\e9d6";
$i-battery_unknown: "\e9d7";
$i-bluetooth: "\e9d8";
$i-bluetooth_connected: "\e9d9";
$i-bluetooth_disabled: "\e9da";
$i-bluetooth_searching: "\e9db";
$i-bluetooth_audio: "\e9db";
$i-brightness_auto: "\e9dc";
$i-brightness_high: "\e9dd";
$i-brightness_7: "\e9dd";
$i-brightness_low: "\e9de";
$i-brightness_5: "\e9de";
$i-brightness_medium: "\e9df";
$i-brightness_6: "\e9df";
$i-data_usage: "\e9e0";
$i-developer_mode: "\e9e1";
$i-devices: "\e9e2";
$i-phonelink: "\e9e2";
$i-dvr: "\e9e3";
$i-gps_fixed: "\e9e4";
$i-my_location: "\e9e4";
$i-gps_not_fixed: "\e9e5";
$i-location_searching: "\e9e5";
$i-gps_off: "\e9e6";
$i-location_disabled: "\e9e6";
$i-graphic_eq: "\e9e7";
$i-network_cell: "\e9e8";
$i-network_wifi: "\e9e9";
$i-nfc: "\e9ea";
$i-now_wallpaper: "\e9eb";
$i-now_widgets: "\e9ec";
$i-screen_lock_landscape: "\e9ed";
$i-screen_lock_portrait: "\e9ee";
$i-screen_lock_rotation: "\e9ef";
$i-screen_rotation: "\e9f0";
$i-sd_storage: "\e9f1";
$i-sd_card: "\e9f1";
$i-settings_system_daydream: "\e9f2";
$i-signal_cellular_4_bar: "\e9f3";
$i-signal_cellular_connected_no_internet_4_bar: "\e9f4";
$i-signal_cellular_null: "\e9f5";
$i-signal_cellular_off: "\e9f6";
$i-signal_wifi_4_bar: "\e9f7";
$i-signal_wifi_4_bar_lock: "\e9f8";
$i-signal_wifi_off: "\e9f9";
$i-storage: "\e9fa";
$i-usb: "\e9fb";
$i-wifi_lock: "\e9fc";
$i-wifi_tethering: "\e9fd";
$i-add_to_home_screen: "\e9fe";
$i-device_thermostat: "\e9ff";
$i-mobile_friendly: "\ea00";
$i-mobile_off: "\ea01";
$i-signal_cellular_alt: "\ea02";
$i-attach_file: "\ea03";
$i-attach_money: "\ea04";
$i-border_all: "\ea05";
$i-border_bottom: "\ea06";
$i-border_clear: "\ea07";
$i-border_color: "\ea08";
$i-border_horizontal: "\ea09";
$i-border_inner: "\ea0a";
$i-border_left: "\ea0b";
$i-border_outer: "\ea0c";
$i-border_right: "\ea0d";
$i-border_style: "\ea0e";
$i-border_top: "\ea0f";
$i-border_vertical: "\ea10";
$i-format_align_center: "\ea11";
$i-format_align_justify: "\ea12";
$i-format_align_left: "\ea13";
$i-format_align_right: "\ea14";
$i-format_bold: "\ea15";
$i-format_clear: "\ea16";
$i-format_color_fill: "\ea17";
$i-format_color_reset: "\ea18";
$i-format_color_text: "\ea19";
$i-format_indent_decrease: "\ea1a";
$i-format_indent_increase: "\ea1b";
$i-format_italic: "\ea1c";
$i-format_line_spacing: "\ea1d";
$i-format_list_bulleted: "\ea1e";
$i-format_list_numbered: "\ea1f";
$i-format_paint: "\ea20";
$i-format_quote: "\ea21";
$i-format_size: "\ea22";
$i-format_strikethrough: "\ea23";
$i-format_textdirection_l_to_r: "\ea24";
$i-format_textdirection_r_to_l: "\ea25";
$i-format_underlined: "\ea26";
$i-functions: "\ea27";
$i-insert_chart: "\ea28";
$i-poll: "\ea28";
$i-assessment: "\ea28";
$i-insert_comment: "\ea29";
$i-insert_drive_file: "\ea2a";
$i-insert_emoticon: "\ea2b";
$i-tag_faces: "\ea2b";
$i-mood: "\ea2b";
$i-insert_invitation: "\ea2c";
$i-event1: "\ea2c";
$i-insert_photo: "\ea2d";
$i-image: "\ea2d";
$i-photo: "\ea2d";
$i-mode_comment: "\ea2e";
$i-publish: "\ea2f";
$i-space_bar: "\ea30";
$i-strikethrough_s: "\ea31";
$i-vertical_align_bottom: "\ea32";
$i-vertical_align_center: "\ea33";
$i-vertical_align_top: "\ea34";
$i-wrap_text: "\ea35";
$i-money_off: "\ea36";
$i-drag_handle: "\ea37";
$i-format_shapes: "\ea38";
$i-highlight: "\ea39";
$i-linear_scale: "\ea3a";
$i-short_text: "\ea3b";
$i-text_fields: "\ea3c";
$i-monetization_on: "\ea3d";
$i-title: "\ea3e";
$i-table_chart: "\ea3f";
$i-add_comment: "\ea40";
$i-format_list_numbered_rtl: "\ea41";
$i-scatter_plot: "\ea42";
$i-score: "\ea43";
$i-insert_chart_outlined: "\ea44";
$i-bar_chart: "\ea45";
$i-notes: "\ea46";
$i-attachment: "\ea47";
$i-cloud: "\ea48";
$i-cloud_circle: "\ea49";
$i-cloud_done: "\ea4a";
$i-cloud_download: "\ea4b";
$i-cloud_off: "\ea4c";
$i-cloud_queue: "\ea4d";
$i-cloud_upload: "\ea4e";
$i-backup: "\ea4e";
$i-file_download: "\ea4f";
$i-get_app: "\ea4f";
$i-file_upload: "\ea50";
$i-folder: "\ea51";
$i-folder_open: "\ea52";
$i-folder_shared: "\ea53";
$i-create_new_folder: "\ea54";
$i-cast: "\ea55";
$i-cast_connected: "\ea56";
$i-computer: "\ea57";
$i-laptop: "\ea57";
$i-desktop_mac: "\ea58";
$i-desktop_windows: "\ea59";
$i-developer_board: "\ea5a";
$i-dock: "\ea5b";
$i-headset: "\ea5c";
$i-headset_mic: "\ea5d";
$i-keyboard: "\ea5e";
$i-keyboard_arrow_down: "\ea5f";
$i-keyboard_arrow_left: "\ea60";
$i-keyboard_arrow_right: "\ea61";
$i-keyboard_arrow_up: "\ea62";
$i-keyboard_backspace: "\ea63";
$i-keyboard_capslock: "\ea64";
$i-keyboard_hide: "\ea65";
$i-keyboard_return: "\ea66";
$i-keyboard_tab: "\ea67";
$i-keyboard_voice: "\ea68";
$i-laptop_chromebook: "\ea69";
$i-laptop_mac: "\ea6a";
$i-laptop_windows: "\ea6b";
$i-memory: "\ea6c";
$i-mouse: "\ea6d";
$i-phone_android: "\ea6e";
$i-phone_iphone: "\ea6f";
$i-phonelink_off: "\ea70";
$i-router: "\ea71";
$i-scanner: "\ea72";
$i-security: "\ea73";
$i-sim_card: "\ea74";
$i-speaker: "\ea75";
$i-speaker_group: "\ea76";
$i-tablet: "\ea77";
$i-tablet_android: "\ea78";
$i-tablet_mac: "\ea79";
$i-toys: "\ea7a";
$i-tv: "\ea7b";
$i-watch: "\ea7c";
$i-device_hub: "\ea7d";
$i-power_input: "\ea7e";
$i-devices_other: "\ea7f";
$i-videogame_asset: "\ea80";
$i-device_unknown: "\ea81";
$i-headset_off: "\ea82";
$i-adjust: "\ea83";
$i-assistant: "\ea84";
$i-audiotrack: "\ea85";
$i-blur_circular: "\ea86";
$i-blur_linear: "\ea87";
$i-blur_off: "\ea88";
$i-blur_on: "\ea89";
$i-brightness_1: "\ea8a";
$i-brightness_2: "\ea8b";
$i-brightness_3: "\ea8c";
$i-brightness_4: "\ea8d";
$i-broken_image: "\ea8e";
$i-brush: "\ea8f";
$i-camera: "\ea90";
$i-camera_alt: "\ea91";
$i-photo_camera: "\ea91";
$i-local_see: "\ea91";
$i-camera_front: "\ea92";
$i-camera_rear: "\ea93";
$i-camera_roll: "\ea94";
$i-center_focus_strong: "\ea95";
$i-center_focus_weak: "\ea96";
$i-collections: "\ea97";
$i-photo_library: "\ea97";
$i-color_lens: "\ea98";
$i-palette: "\ea98";
$i-colorize: "\ea99";
$i-compare: "\ea9a";
$i-control_point_duplicate: "\ea9b";
$i-crop_16_9: "\ea9c";
$i-crop_3_2: "\ea9d";
$i-crop: "\ea9e";
$i-crop_5_4: "\ea9f";
$i-crop_landscape: "\ea9f";
$i-crop_7_5: "\eaa0";
$i-crop_din: "\eaa1";
$i-crop_free: "\eaa2";
$i-crop_original: "\eaa3";
$i-crop_portrait: "\eaa4";
$i-crop_square: "\eaa5";
$i-dehaze: "\eaa6";
$i-details: "\eaa7";
$i-exposure: "\eaa8";
$i-exposure_neg_1: "\eaa9";
$i-exposure_neg_2: "\eaaa";
$i-exposure_plus_1: "\eaab";
$i-exposure_plus_2: "\eaac";
$i-exposure_zero: "\eaad";
$i-filter_1: "\eaae";
$i-filter_2: "\eaaf";
$i-filter_3: "\eab0";
$i-filter: "\eab1";
$i-filter_4: "\eab2";
$i-filter_5: "\eab3";
$i-filter_6: "\eab4";
$i-filter_7: "\eab5";
$i-filter_8: "\eab6";
$i-filter_9: "\eab7";
$i-filter_9_plus: "\eab8";
$i-filter_b_and_w: "\eab9";
$i-filter_center_focus: "\eaba";
$i-filter_drama: "\eabb";
$i-filter_frames: "\eabc";
$i-filter_hdr: "\eabd";
$i-landscape: "\eabd";
$i-terrain: "\eabd";
$i-filter_none: "\eabe";
$i-filter_tilt_shift: "\eabf";
$i-filter_vintage: "\eac0";
$i-flare: "\eac1";
$i-flash_auto: "\eac2";
$i-flash_off: "\eac3";
$i-flash_on: "\eac4";
$i-flip: "\eac5";
$i-gradient: "\eac6";
$i-grain: "\eac7";
$i-grid_off: "\eac8";
$i-grid_on: "\eac9";
$i-hdr_off: "\eaca";
$i-hdr_on: "\eacb";
$i-hdr_strong: "\eacc";
$i-hdr_weak: "\eacd";
$i-healing: "\eace";
$i-image_aspect_ratio: "\eacf";
$i-iso: "\ead0";
$i-leak_add: "\ead1";
$i-leak_remove: "\ead2";
$i-lens: "\ead3";
$i-looks_3: "\ead4";
$i-looks: "\ead5";
$i-looks_4: "\ead6";
$i-looks_5: "\ead7";
$i-looks_6: "\ead8";
$i-looks_one: "\ead9";
$i-looks_two: "\eada";
$i-loupe: "\eadb";
$i-monochrome_photos: "\eadc";
$i-music_note: "\eadd";
$i-nature: "\eade";
$i-nature_people: "\eadf";
$i-navigate_before: "\eae0";
$i-chevron_left: "\eae0";
$i-navigate_next: "\eae1";
$i-chevron_right: "\eae1";
$i-panorama: "\eae2";
$i-panorama_fisheye: "\eae3";
$i-radio_button_unchecked: "\eae3";
$i-panorama_horizontal: "\eae4";
$i-panorama_vertical: "\eae5";
$i-panorama_wide_angle: "\eae6";
$i-photo_album: "\eae7";
$i-picture_as_pdf: "\eae8";
$i-portrait: "\eae9";
$i-remove_red_eye: "\eaea";
$i-rotate_90_degrees_ccw: "\eaeb";
$i-rotate_left: "\eaec";
$i-rotate_right: "\eaed";
$i-slideshow: "\eaee";
$i-straighten: "\eaef";
$i-style: "\eaf0";
$i-switch_camera: "\eaf1";
$i-switch_video: "\eaf2";
$i-texture: "\eaf3";
$i-timelapse: "\eaf4";
$i-timer_10: "\eaf5";
$i-timer_3: "\eaf6";
$i-timer: "\eaf7";
$i-timer_off: "\eaf8";
$i-tonality: "\eaf9";
$i-transform: "\eafa";
$i-tune: "\eafb";
$i-view_comfy: "\eafc";
$i-view_compact: "\eafd";
$i-wb_auto: "\eafe";
$i-wb_cloudy: "\eaff";
$i-wb_incandescent: "\eb00";
$i-wb_sunny: "\eb01";
$i-collections_bookmark: "\eb02";
$i-photo_size_select_actual: "\eb03";
$i-photo_size_select_large: "\eb04";
$i-photo_size_select_small: "\eb05";
$i-vignette: "\eb06";
$i-wb_iridescent: "\eb07";
$i-crop_rotate: "\eb08";
$i-linked_camera: "\eb09";
$i-add_a_photo: "\eb0a";
$i-movie_filter: "\eb0b";
$i-photo_filter: "\eb0c";
$i-burst_mode: "\eb0d";
$i-shutter_speed: "\eb0e";
$i-add_photo_alternate: "\eb0f";
$i-image_search: "\eb10";
$i-music_off: "\eb11";
$i-beenhere: "\eb12";
$i-directions: "\eb13";
$i-directions_bike: "\eb14";
$i-directions_bus: "\eb15";
$i-directions_car: "\eb16";
$i-directions_ferry: "\eb17";
$i-directions_subway: "\eb18";
$i-directions_transit: "\eb18";
$i-directions_train: "\eb19";
$i-directions_walk: "\eb1a";
$i-hotel: "\eb1b";
$i-local_hotel: "\eb1b";
$i-layers: "\eb1c";
$i-layers_clear: "\eb1d";
$i-local_atm: "\eb1e";
$i-local_attraction: "\eb1f";
$i-local_play: "\eb1f";
$i-local_bar: "\eb20";
$i-local_cafe: "\eb21";
$i-free_breakfast: "\eb21";
$i-local_car_wash: "\eb22";
$i-local_convenience_store: "\eb23";
$i-local_drink: "\eb24";
$i-local_florist: "\eb25";
$i-local_gas_station: "\eb26";
$i-local_grocery_store: "\eb27";
$i-shopping_cart: "\eb27";
$i-local_hospital: "\eb28";
$i-local_laundry_service: "\eb29";
$i-local_library: "\eb2a";
$i-local_mall: "\eb2b";
$i-local_movies: "\eb2c";
$i-theaters: "\eb2c";
$i-local_offer: "\eb2d";
$i-local_parking: "\eb2e";
$i-local_pharmacy: "\eb2f";
$i-local_pizza: "\eb30";
$i-local_printshop: "\eb31";
$i-print: "\eb31";
$i-local_restaurant: "\eb32";
$i-restaurant_menu: "\eb32";
$i-local_shipping: "\eb33";
$i-local_taxi: "\eb34";
$i-location_history: "\eb35";
$i-map: "\eb36";
$i-navigation: "\eb37";
$i-pin_drop: "\eb38";
$i-rate_review: "\eb39";
$i-satellite: "\eb3a";
$i-store_mall_directory: "\eb3b";
$i-store: "\eb3b";
$i-traffic: "\eb3c";
$i-directions_run: "\eb3d";
$i-add_location: "\eb3e";
$i-edit_location: "\eb3f";
$i-near_me: "\eb40";
$i-person_pin_circle: "\eb41";
$i-zoom_out_map: "\eb42";
$i-restaurant: "\eb43";
$i-ev_station: "\eb44";
$i-streetview: "\eb45";
$i-subway: "\eb46";
$i-train: "\eb47";
$i-tram: "\eb48";
$i-transfer_within_a_station: "\eb49";
$i-atm: "\eb4a";
$i-category: "\eb4b";
$i-not_listed_location: "\eb4c";
$i-departure_board: "\eb4d";
$i-360: "\eb4e";
$i-edit_attributes: "\eb4f";
$i-transit_enterexit: "\eb50";
$i-fastfood: "\eb51";
$i-trip_origin: "\eb52";
$i-compass_calibration: "\eb53";
$i-money: "\eb54";
$i-apps: "\eb55";
$i-arrow_back: "\eb56";
$i-arrow_drop_down: "\eb57";
$i-arrow_drop_down_circle: "\eb58";
$i-arrow_drop_up: "\eb59";
$i-arrow_forward: "\eb5a";
$i-cancel: "\eb5b";
$i-check: "\eb5c";
$i-expand_less: "\eb5d";
$i-expand_more: "\eb5e";
$i-fullscreen: "\eb5f";
$i-fullscreen_exit: "\eb60";
$i-menu: "\eb61";
$i-keyboard_control: "\eb62";
$i-more_vert: "\eb63";
$i-refresh: "\eb64";
$i-unfold_less: "\eb65";
$i-unfold_more: "\eb66";
$i-arrow_upward: "\eb67";
$i-subdirectory_arrow_left: "\eb68";
$i-subdirectory_arrow_right: "\eb69";
$i-arrow_downward: "\eb6a";
$i-first_page: "\eb6b";
$i-last_page: "\eb6c";
$i-arrow_left: "\eb6d";
$i-arrow_right: "\eb6e";
$i-arrow_back_ios: "\eb6f";
$i-arrow_forward_ios: "\eb70";
$i-adb: "\eb71";
$i-disc_full: "\eb72";
$i-do_not_disturb_alt: "\eb73";
$i-drive_eta: "\eb74";
$i-time_to_leave: "\eb74";
$i-event_available: "\eb75";
$i-event_busy: "\eb76";
$i-event_note: "\eb77";
$i-folder_special: "\eb78";
$i-mms: "\eb79";
$i-more: "\eb7a";
$i-network_locked: "\eb7b";
$i-phone_bluetooth_speaker: "\eb7c";
$i-phone_forwarded: "\eb7d";
$i-phone_in_talk: "\eb7e";
$i-phone_locked: "\eb7f";
$i-phone_missed: "\eb80";
$i-phone_paused: "\eb81";
$i-sim_card_alert: "\eb82";
$i-sms_failed: "\eb83";
$i-feedback: "\eb83";
$i-sync_disabled: "\eb84";
$i-sync_problem: "\eb85";
$i-system_update: "\eb86";
$i-tap_and_play: "\eb87";
$i-vibration: "\eb88";
$i-voice_chat: "\eb89";
$i-vpn_lock: "\eb8a";
$i-airline_seat_flat: "\eb8b";
$i-airline_seat_flat_angled: "\eb8c";
$i-airline_seat_individual_suite: "\eb8d";
$i-airline_seat_legroom_extra: "\eb8e";
$i-airline_seat_legroom_normal: "\eb8f";
$i-airline_seat_legroom_reduced: "\eb90";
$i-airline_seat_recline_extra: "\eb91";
$i-airline_seat_recline_normal: "\eb92";
$i-confirmation_number: "\eb93";
$i-live_tv: "\eb94";
$i-ondemand_video: "\eb95";
$i-personal_video: "\eb96";
$i-power: "\eb97";
$i-wc: "\eb98";
$i-wifi: "\eb99";
$i-enhanced_encryption: "\eb9a";
$i-network_check: "\eb9b";
$i-no_encryption: "\eb9c";
$i-rv_hookup: "\eb9d";
$i-do_not_disturb_off: "\eb9e";
$i-priority_high: "\eb9f";
$i-power_off: "\eba0";
$i-tv_off: "\eba1";
$i-wifi_off: "\eba2";
$i-phone_callback: "\eba3";
$i-pie_chart: "\eba4";
$i-pie_chart_outlined: "\eba5";
$i-bubble_chart: "\eba6";
$i-multiline_chart: "\eba7";
$i-show_chart: "\eba8";
$i-cake: "\eba9";
$i-group: "\ebaa";
$i-group_add: "\ebab";
$i-location_city: "\ebac";
$i-mood_bad: "\ebad";
$i-notifications: "\ebae";
$i-notifications_none: "\ebaf";
$i-notifications_off: "\ebb0";
$i-notifications_on: "\ebb1";
$i-notifications_paused: "\ebb2";
$i-pages: "\ebb3";
$i-party_mode: "\ebb4";
$i-people_outline: "\ebb5";
$i-person: "\ebb6";
$i-person_add: "\ebb7";
$i-person_outline: "\ebb8";
$i-perm_identity: "\ebb8";
$i-plus_one: "\ebb9";
$i-public: "\ebba";
$i-school: "\ebbb";
$i-share: "\ebbc";
$i-whatshot: "\ebbd";
$i-sentiment_dissatisfied: "\ebbe";
$i-sentiment_neutral: "\ebbf";
$i-sentiment_satisfied: "\ebc0";
$i-sentiment_very_dissatisfied: "\ebc1";
$i-sentiment_very_satisfied: "\ebc2";
$i-thumb_down_alt: "\ebc3";
$i-thumb_up_alt: "\ebc4";
$i-check_box: "\ebc5";
$i-check_box_outline_blank: "\ebc6";
$i-radio_button_on: "\ebc7";
$i-star: "\ebc8";
$i-grade: "\ebc8";
$i-star_half: "\ebc9";
$i-star_outline: "\ebca";
$i-3d_rotation: "\ebcb";
$i-accessibility: "\ebcc";
$i-account_balance: "\ebcd";
$i-account_balance_wallet: "\ebce";
$i-account_box: "\ebcf";
$i-account_circle: "\ebd0";
$i-add_shopping_cart: "\ebd1";
$i-alarm_off: "\ebd2";
$i-alarm_on: "\ebd3";
$i-android: "\ebd4";
$i-announcement: "\ebd5";
$i-aspect_ratio: "\ebd6";
$i-assignment: "\ebd7";
$i-assignment_ind: "\ebd8";
$i-assignment_late: "\ebd9";
$i-assignment_return: "\ebda";
$i-assignment_returned: "\ebdb";
$i-assignment_turned_in: "\ebdc";
$i-autorenew: "\ebdd";
$i-book: "\ebde";
$i-class: "\ebde";
$i-bookmark: "\ebdf";
$i-turned_in: "\ebdf";
$i-bookmark_outline: "\ebe0";
$i-turned_in_not: "\ebe0";
$i-bug_report: "\ebe1";
$i-build: "\ebe2";
$i-cached: "\ebe3";
$i-change_history: "\ebe4";
$i-chrome_reader_mode: "\ebe6";
$i-code: "\ebe7";
$i-credit_card: "\ebe8";
$i-payment: "\ebe8";
$i-dashboard: "\ebe9";
$i-delete: "\ebea";
$i-description: "\ebeb";
$i-dns: "\ebec";
$i-done: "\ebed";
$i-done_all: "\ebee";
$i-exit_to_app: "\ebef";
$i-explore: "\ebf0";
$i-extension: "\ebf1";
$i-face: "\ebf2";
$i-favorite: "\ebf3";
$i-favorite_outline: "\ebf4";
$i-find_in_page: "\ebf5";
$i-find_replace: "\ebf6";
$i-flip_to_back: "\ebf7";
$i-flip_to_front: "\ebf8";
$i-group_work: "\ebf9";
$i-help: "\ebfa";
$i-highlight_remove: "\ebfb";
$i-history: "\ebfc";
$i-restore: "\ebfc";
$i-home: "\ebfd";
$i-hourglass_empty: "\ebfe";
$i-hourglass_full: "\ebff";
$i-https: "\ec00";
$i-lock: "\ec00";
$i-info: "\ec01";
$i-info_outline: "\ec02";
$i-input: "\ec03";
$i-invert_colors_on: "\ec04";
$i-label: "\ec05";
$i-label_outline: "\ec06";
$i-language: "\ec07";
$i-launch: "\ec08";
$i-open_in_new: "\ec08";
$i-list: "\ec09";
$i-lock_open: "\ec0a";
$i-lock_outline: "\ec0b";
$i-loyalty: "\ec0c";
$i-markunread_mailbox: "\ec0d";
$i-note_add: "\ec0e";
$i-open_in_browser: "\ec0f";
$i-open_with: "\ec10";
$i-pageview: "\ec11";
$i-perm_camera_mic: "\ec12";
$i-perm_contact_calendar: "\ec13";
$i-perm_data_setting: "\ec14";
$i-perm_device_information: "\ec15";
$i-perm_media: "\ec16";
$i-perm_phone_msg: "\ec17";
$i-perm_scan_wifi: "\ec18";
$i-picture_in_picture: "\ec19";
$i-polymer: "\ec1a";
$i-power_settings_new: "\ec1b";
$i-receipt: "\ec1c";
$i-redeem: "\ec1d";
$i-card_giftcard: "\ec1d";
$i-search1: "\ec1e";
$i-settings: "\ec1f";
$i-settings_applications: "\ec20";
$i-settings_backup_restore: "\ec21";
$i-settings_bluetooth: "\ec22";
$i-settings_cell: "\ec23";
$i-settings_display: "\ec24";
$i-settings_ethernet: "\ec25";
$i-settings_input_antenna: "\ec26";
$i-settings_input_component: "\ec27";
$i-settings_input_hdmi: "\ec28";
$i-settings_input_svideo: "\ec29";
$i-settings_overscan: "\ec2a";
$i-settings_phone: "\ec2b";
$i-settings_power: "\ec2c";
$i-settings_remote: "\ec2d";
$i-settings_voice: "\ec2e";
$i-shop: "\ec2f";
$i-shop_two: "\ec30";
$i-shopping_basket: "\ec31";
$i-speaker_notes: "\ec32";
$i-spellcheck: "\ec33";
$i-stars: "\ec34";
$i-subject: "\ec35";
$i-supervisor_account: "\ec36";
$i-swap_horiz: "\ec37";
$i-swap_vert: "\ec38";
$i-swap_vertical_circle: "\ec39";
$i-system_update_tv: "\ec3a";
$i-tab: "\ec3b";
$i-tab_unselected: "\ec3c";
$i-thumb_down: "\ec3d";
$i-thumb_up: "\ec3e";
$i-thumbs_up_down: "\ec3f";
$i-toc: "\ec40";
$i-today: "\ec41";
$i-toll: "\ec42";
$i-track_changes: "\ec43";
$i-translate: "\ec44";
$i-trending_down: "\ec45";
$i-trending_neutral: "\ec46";
$i-trending_up: "\ec47";
$i-verified_user: "\ec48";
$i-view_agenda: "\ec49";
$i-view_array: "\ec4a";
$i-view_carousel: "\ec4b";
$i-view_column: "\ec4c";
$i-view_day: "\ec4d";
$i-view_headline: "\ec4e";
$i-view_list: "\ec4f";
$i-view_module: "\ec50";
$i-view_quilt: "\ec51";
$i-view_stream: "\ec52";
$i-view_week: "\ec53";
$i-visibility_off: "\ec54";
$i-card_membership: "\ec55";
$i-card_travel: "\ec56";
$i-work: "\ec57";
$i-youtube_searched_for: "\ec58";
$i-eject: "\ec59";
$i-camera_enhance: "\ec5a";
$i-help_outline: "\ec5b";
$i-reorder: "\ec5c";
$i-zoom_in: "\ec5d";
$i-zoom_out: "\ec5e";
$i-http: "\ec5f";
$i-event_seat: "\ec60";
$i-flight_land: "\ec61";
$i-flight_takeoff: "\ec62";
$i-play_for_work: "\ec63";
$i-gif: "\ec64";
$i-indeterminate_check_box: "\ec65";
$i-offline_pin: "\ec66";
$i-all_out: "\ec67";
$i-copyright: "\ec68";
$i-fingerprint: "\ec69";
$i-gavel: "\ec6a";
$i-lightbulb_outline: "\ec6b";
$i-picture_in_picture_alt: "\ec6c";
$i-important_devices: "\ec6d";
$i-touch_app: "\ec6e";
$i-accessible: "\ec6f";
$i-compare_arrows: "\ec70";
$i-date_range: "\ec71";
$i-donut_large: "\ec72";
$i-donut_small: "\ec73";
$i-line_style: "\ec74";
$i-line_weight: "\ec75";
$i-motorcycle: "\ec76";
$i-opacity: "\ec77";
$i-pets: "\ec78";
$i-pregnant_woman: "\ec79";
$i-record_voice_over: "\ec7a";
$i-rounded_corner: "\ec7b";
$i-rowing: "\ec7c";
$i-timeline: "\ec7d";
$i-update: "\ec7e";
$i-watch_later: "\ec7f";
$i-pan_tool: "\ec80";
$i-euro_symbol: "\ec81";
$i-g_translate: "\ec82";
$i-remove_shopping_cart: "\ec83";
$i-restore_page: "\ec84";
$i-speaker_notes_off: "\ec85";
$i-delete_forever: "\ec86";
$i-accessibility_new: "\ec87";
$i-check_circle_outline: "\ec88";
$i-delete_outline: "\ec89";
$i-done_outline: "\ec8a";
$i-maximize: "\ec8b";
$i-minimize: "\ec8c";
$i-offline_bolt: "\ec8d";
$i-swap_horizontal_circle: "\ec8e";
$i-accessible_forward: "\ec8f";
$i-calendar_today: "\ec90";
$i-calendar_view_day: "\ec91";
$i-label_important: "\ec92";
$i-restore_from_trash: "\ec93";
$i-supervised_user_circle: "\ec94";
$i-text_rotate_up: "\ec95";
$i-text_rotate_vertical: "\ec96";
$i-text_rotation_angledown: "\ec97";
$i-text_rotation_angleup: "\ec98";
$i-text_rotation_down: "\ec99";
$i-text_rotation_none: "\ec9a";
$i-commute: "\ec9b";
$i-arrow_right_alt: "\ec9c";
$i-work_off: "\ec9d";
$i-work_outline: "\ec9e";
$i-drag_indicator: "\ec9f";
$i-horizontal_split: "\eca0";
$i-label_important_outline: "\eca1";
$i-vertical_split: "\eca2";
$i-voice_over_off: "\eca3";
$i-segment: "\eca4";
$i-contact_support: "\eca5";
$i-compress: "\eca6";
$i-filter_list_alt: "\eca7";
$i-expand: "\eca8";
$i-edit_off: "\eca9";
$i-10k: "\ecaa";
$i-10mp: "\ecab";
$i-11mp: "\ecac";
$i-12mp: "\ecad";
$i-13mp: "\ecae";
$i-14mp: "\ecaf";
$i-15mp: "\ecb0";
$i-16mp: "\ecb1";
$i-17mp: "\ecb2";
$i-18mp: "\ecb3";
$i-19mp: "\ecb4";
$i-1k: "\ecb5";
$i-1k_plus: "\ecb6";
$i-20mp: "\ecb7";
$i-21mp: "\ecb8";
$i-22mp: "\ecb9";
$i-23mp: "\ecba";
$i-24mp: "\ecbb";
$i-2k: "\ecbc";
$i-2k_plus: "\ecbd";
$i-2mp: "\ecbe";
$i-3k: "\ecbf";
$i-3k_plus: "\ecc0";
$i-3mp: "\ecc1";
$i-4k_plus: "\ecc2";
$i-4mp: "\ecc3";
$i-5k: "\ecc4";
$i-5k_plus: "\ecc5";
$i-5mp: "\ecc6";
$i-6k: "\ecc7";
$i-6k_plus: "\ecc8";
$i-6mp: "\ecc9";
$i-7k: "\ecca";
$i-7k_plus: "\eccb";
$i-7mp: "\eccc";
$i-8k: "\eccd";
$i-8k_plus: "\ecce";
$i-8mp: "\eccf";
$i-9k: "\ecd0";
$i-9k_plus: "\ecd1";
$i-9mp: "\ecd2";
$i-account_tree: "\ecd3";
$i-add_chart: "\ecd4";
$i-add_ic_call: "\ecd5";
$i-add_moderator: "\ecd6";
$i-all_inbox: "\ecd7";
$i-approval: "\ecd8";
$i-assistant_direction: "\ecd9";
$i-assistant_navigation: "\ecda";
$i-bookmarks: "\ecdb";
$i-bus_alert: "\ecdc";
$i-cases: "\ecdd";
$i-circle_notifications: "\ecde";
$i-closed_caption_off: "\ecdf";
$i-connected_tv: "\ece0";
$i-dangerous: "\ece1";
$i-dashboard_customize: "\ece2";
$i-desktop_access_disabled: "\ece3";
$i-drive_file_move_outline: "\ece4";
$i-drive_file_rename_outline: "\ece5";
$i-drive_folder_upload: "\ece6";
$i-duo: "\ece7";
$i-explore_off: "\ece8";
$i-file_download_done: "\ece9";
$i-rtt: "\ecea";
$i-grid_view: "\eceb";
$i-hail: "\ecec";
$i-home_filled: "\eced";
$i-imagesearch_roller: "\ecee";
$i-label_off: "\ecef";
$i-library_add_check: "\ecf0";
$i-logout: "\ecf1";
$i-margin: "\ecf2";
$i-mark_as_unread: "\ecf3";
$i-menu_open: "\ecf4";
$i-mp: "\ecf5";
$i-offline_share: "\ecf6";
$i-padding: "\ecf7";
$i-panorama_photosphere: "\ecf8";
$i-panorama_photosphere_select: "\ecf9";
$i-person_add_disabled: "\ecfa";
$i-phone_disabled: "\ecfb";
$i-phone_enabled: "\ecfc";
$i-pivot_table_chart: "\ecfd";
$i-print_disabled: "\ecfe";
$i-railway_alert: "\ecff";
$i-recommend: "\ed00";
$i-remove_done: "\ed01";
$i-remove_moderator: "\ed02";
$i-repeat_on: "\ed03";
$i-repeat_one_on: "\ed04";
$i-replay_circle_filled: "\ed05";
$i-reset_tv: "\ed06";
$i-sd: "\ed07";
$i-shield: "\ed08";
$i-shuffle_on: "\ed09";
$i-speed: "\ed0a";
$i-stacked_bar_chart: "\ed0b";
$i-stream: "\ed0c";
$i-swipe: "\ed0d";
$i-switch_account: "\ed0e";
$i-tag: "\ed0f";
$i-thumb_down_off_alt: "\ed10";
$i-thumb_up_off_alt: "\ed11";
$i-toggle_off: "\ed12";
$i-toggle_on: "\ed13";
$i-two_wheeler: "\ed14";
$i-upload_file: "\ed15";
$i-view_in_ar: "\ed16";
$i-waterfall_chart: "\ed17";
$i-wb_shade: "\ed18";
$i-wb_twighlight: "\ed19";
$i-home_work: "\ed1a";
$i-schedule_send: "\ed1b";
$i-bolt: "\ed1c";
$i-send_and_archive: "\ed1d";
$i-workspaces_filled: "\ed1e";
$i-file_present: "\ed1f";
$i-workspaces_outline: "\ed20";
$i-fit_screen: "\ed21";
$i-saved_search: "\ed22";
$i-storefront: "\ed23";
$i-amp_stories: "\ed24";
$i-dynamic_feed: "\ed25";
$i-euro: "\ed26";
$i-height: "\ed27";
$i-policy: "\ed28";
$i-sync_alt: "\ed29";
$i-menu_book: "\ed2a";
$i-emoji_flags: "\ed2b";
$i-emoji_food_beverage: "\ed2c";
$i-emoji_nature: "\ed2d";
$i-emoji_people: "\ed2e";
$i-emoji_symbols: "\ed2f";
$i-emoji_transportation: "\ed30";
$i-post_add: "\ed31";
$i-people_alt: "\ed32";
$i-emoji_emotions: "\ed33";
$i-emoji_events: "\ed34";
$i-emoji_objects: "\ed35";
$i-sports_basketball: "\ed36";
$i-sports_cricket: "\ed37";
$i-sports_esports: "\ed38";
$i-sports_football: "\ed39";
$i-sports_golf: "\ed3a";
$i-sports_hockey: "\ed3b";
$i-sports_mma: "\ed3c";
$i-sports_motorsports: "\ed3d";
$i-sports_rugby: "\ed3e";
$i-sports_soccer: "\ed3f";
$i-sports: "\ed40";
$i-sports_volleyball: "\ed41";
$i-sports_tennis: "\ed42";
$i-sports_handball: "\ed43";
$i-sports_kabaddi: "\ed44";
$i-eco: "\ed45";
$i-museum: "\ed46";
$i-flip_camera_android: "\ed47";
$i-flip_camera_ios: "\ed48";
$i-cancel_schedule_send: "\ed49";
$i-apartment: "\ed4a";
$i-bathtub: "\ed4b";
$i-deck: "\ed4c";
$i-fireplace: "\ed4d";
$i-house: "\ed4e";
$i-king_bed: "\ed4f";
$i-nights_stay: "\ed50";
$i-outdoor_grill: "\ed51";
$i-single_bed: "\ed52";
$i-square_foot: "\ed53";
$i-double_arrow: "\ed54";
$i-sports_baseball: "\ed55";
$i-attractions: "\ed56";
$i-bakery_dining: "\ed57";
$i-breakfast_dining: "\ed58";
$i-car_rental: "\ed59";
$i-car_repair: "\ed5a";
$i-dinner_dining: "\ed5b";
$i-dry_cleaning: "\ed5c";
$i-hardware: "\ed5d";
$i-liquor: "\ed5e";
$i-lunch_dining: "\ed5f";
$i-nightlife: "\ed60";
$i-park: "\ed61";
$i-ramen_dining: "\ed62";
$i-celebration: "\ed63";
$i-theater_comedy: "\ed64";
$i-badge: "\ed65";
$i-festival: "\ed66";
$i-icecream: "\ed67";
$i-volunteer_activism: "\ed68";
$i-contactless: "\ed69";
$i-delivery_dining: "\ed6a";
$i-brunch_dining: "\ed6b";
$i-takeout_dining: "\ed6c";
$i-ac_unit: "\ed6d";
$i-airport_shuttle: "\ed6e";
$i-all_inclusive: "\ed6f";
$i-beach_access: "\ed70";
$i-business_center: "\ed71";
$i-casino: "\ed72";
$i-child_care: "\ed73";
$i-child_friendly: "\ed74";
$i-fitness_center: "\ed75";
$i-golf_course: "\ed76";
$i-hot_tub: "\ed77";
$i-kitchen: "\ed78";
$i-pool: "\ed79";
$i-room_service: "\ed7a";
$i-smoke_free: "\ed7b";
$i-smoking_rooms: "\ed7c";
$i-spa: "\ed7d";
$i-no_meeting_room: "\ed7e";
$i-meeting_room: "\ed7f";
$i-goat: "\ed80";
$i-5g: "\ed81";
$i-ad_units: "\ed82";
$i-add_business: "\ed83";
$i-add_location_alt: "\ed84";
$i-add_road: "\ed85";
$i-add_to_drive: "\ed86";
$i-addchart: "\ed87";
$i-admin_panel_settings: "\ed88";
$i-agriculture: "\ed89";
$i-alt_route: "\ed8a";
$i-analytics: "\ed8b";
$i-anchor: "\ed8c";
$i-animation: "\ed8d";
$i-api: "\ed8e";
$i-app_blocking: "\ed8f";
$i-app_registration: "\ed90";
$i-app_settings_alt: "\ed91";
$i-architecture: "\ed92";
$i-arrow_circle_down: "\ed93";
$i-arrow_circle_up: "\ed94";
$i-article: "\ed95";
$i-attach_email: "\ed96";
$i-auto_awesome: "\ed97";
$i-auto_awesome_mosaic: "\ed98";
$i-auto_awesome_motion: "\ed99";
$i-auto_delete: "\ed9a";
$i-auto_fix_high: "\ed9b";
$i-auto_fix_normal: "\ed9c";
$i-auto_fix_off: "\ed9d";
$i-auto_stories: "\ed9e";
$i-baby_changing_station: "\ed9f";
$i-backpack: "\eda0";
$i-backup_table: "\eda1";
$i-batch_prediction: "\eda2";
$i-bedtime: "\eda3";
$i-bento: "\eda4";
$i-bike_scooter: "\eda5";
$i-biotech: "\eda6";
$i-block_flipped: "\eda7";
$i-browser_not_supported: "\eda8";
$i-build_circle: "\eda9";
$i-calculate: "\edaa";
$i-campaign: "\edab";
$i-carpenter: "\edac";
$i-cast_for_education: "\edad";
$i-charging_station: "\edae";
$i-checkroom: "\edaf";
$i-circle: "\edb0";
$i-cleaning_services: "\edb1";
$i-close_fullscreen: "\edb2";
$i-closed_caption_disabled: "\edb3";
$i-comment_bank: "\edb4";
$i-construction: "\edb5";
$i-corporate_fare: "\edb6";
$i-countertops: "\edb7";
$i-design_services: "\edb8";
$i-directions_off: "\edb9";
$i-dirty_lens: "\edba";
$i-do_not_step: "\edbb";
$i-do_not_touch: "\edbc";
$i-domain_verification: "\edbd";
$i-drive_file_move: "\edbe";
$i-dry: "\edbf";
$i-dynamic_form: "\edc0";
$i-east: "\edc1";
$i-edit_road: "\edc2";
$i-electric_bike: "\edc3";
$i-electric_car: "\edc4";
$i-electric_moped: "\edc5";
$i-electric_rickshaw: "\edc6";
$i-electric_scooter: "\edc7";
$i-electrical_services: "\edc8";
$i-elevator: "\edc9";
$i-engineering: "\edca";
$i-escalator: "\edcb";
$i-escalator_warning: "\edcc";
$i-face_retouching_natural: "\edcd";
$i-fact_check: "\edce";
$i-family_restroom: "\edcf";
$i-fence: "\edd0";
$i-filter_alt: "\edd1";
$i-fire_extinguisher: "\edd2";
$i-fire_hydrant: "\edd2";
$i-flaky: "\edd3";
$i-food_bank: "\edd4";
$i-forward_to_inbox: "\edd5";
$i-foundation: "\edd6";
$i-grading: "\edd7";
$i-grass: "\edd8";
$i-handyman: "\edd9";
$i-hdr_enhanced_select: "\edda";
$i-hearing_disabled: "\eddb";
$i-help_center: "\eddc";
$i-highlight_alt: "\eddd";
$i-history_edu: "\edde";
$i-history_toggle_off: "\eddf";
$i-home_repair_service: "\ede0";
$i-horizontal_rule: "\ede1";
$i-hourglass_bottom: "\ede2";
$i-hourglass_disabled: "\ede3";
$i-hourglass_top: "\ede4";
$i-house_siding: "\ede5";
$i-hvac: "\ede6";
$i-image_not_supported: "\ede7";
$i-insights: "\ede8";
$i-integration_instructions: "\ede9";
$i-ios_share: "\edea";
$i-legend_toggle: "\edeb";
$i-local_fire_department: "\edec";
$i-local_police: "\eded";
$i-location_pin: "\edee";
$i-lock_clock: "\edef";
$i-login: "\edf0";
$i-maps_ugc: "\edf1";
$i-mark_chat_read: "\edf2";
$i-mark_chat_unread: "\edf3";
$i-mark_email_read: "\edf4";
$i-mark_email_unread: "\edf5";
$i-mediation: "\edf6";
$i-medical_services: "\edf7";
$i-mic_external_off: "\edf8";
$i-mic_external_on: "\edf9";
$i-microwave: "\edfa";
$i-military_tech: "\edfb";
$i-miscellaneous_services: "\edfc";
$i-model_training: "\edfd";
$i-monitor: "\edfe";
$i-moped: "\edff";
$i-more_time: "\ee00";
$i-motion_photos_off: "\ee01";
$i-motion_photos_on: "\ee02";
$i-motion_photos_paused: "\ee03";
$i-motion_photos_pause: "\ee03";
$i-multiple_stop: "\ee04";
$i-nat: "\ee05";
$i-near_me_disabled: "\ee06";
$i-next_plan: "\ee07";
$i-night_shelter: "\ee08";
$i-nightlight_round: "\ee09";
$i-no_cell: "\ee0a";
$i-no_drinks: "\ee0b";
$i-no_flash: "\ee0c";
$i-no_food: "\ee0d";
$i-no_meals: "\ee0e";
$i-no_photography: "\ee0f";
$i-no_stroller: "\ee10";
$i-no_transfer: "\ee11";
$i-north: "\ee12";
$i-north_east: "\ee13";
$i-north_west: "\ee14";
$i-not_accessible: "\ee15";
$i-not_started: "\ee16";
$i-online_prediction: "\ee17";
$i-open_in_full: "\ee18";
$i-outbox: "\ee19";
$i-outgoing_mail: "\ee1a";
$i-outlet: "\ee1b";
$i-panorama_horizontal_select: "\ee1c";
$i-panorama_vertical_select: "\ee1d";
$i-panorama_wide_angle_select: "\ee1e";
$i-payments: "\ee1f";
$i-pedal_bike: "\ee20";
$i-pending: "\ee21";
$i-pending_actions: "\ee22";
$i-person_add_alt: "\ee23";
$i-person_add_alt_1: "\ee24";
$i-person_remove: "\ee25";
$i-person_remove_alt_1: "\ee25";
$i-person_search: "\ee26";
$i-pest_control: "\ee27";
$i-pest_control_rodent: "\ee28";
$i-photo_camera_back: "\ee29";
$i-photo_camera_front: "\ee2a";
$i-plagiarism: "\ee2b";
$i-play_disabled: "\ee2c";
$i-plumbing: "\ee2d";
$i-point_of_sale: "\ee2e";
$i-preview: "\ee2f";
$i-privacy_tip: "\ee30";
$i-psychology: "\ee31";
$i-public_off: "\ee32";
$i-push_pin: "\ee33";
$i-qr_code: "\ee34";
$i-qr_code_scanner: "\ee35";
$i-quickreply: "\ee36";
$i-read_more: "\ee37";
$i-receipt_long: "\ee38";
$i-request_quote: "\ee39";
$i-rice_bowl: "\ee3a";
$i-roofing: "\ee3b";
$i-room_preferences: "\ee3c";
$i-rule: "\ee3d";
$i-rule_folder: "\ee3e";
$i-run_circle: "\ee3f";
$i-science: "\ee40";
$i-screen_search_desktop: "\ee41";
$i-search_off: "\ee42";
$i-self_improvement: "\ee43";
$i-sensor_door: "\ee44";
$i-sensor_window: "\ee45";
$i-set_meal: "\ee46";
$i-shopping_bag: "\ee47";
$i-signal_cellular_0_bar: "\ee48";
$i-signal_wifi_0_bar: "\ee49";
$i-smart_button: "\ee4a";
$i-snippet_folder: "\ee4b";
$i-soap: "\ee4c";
$i-source: "\ee4d";
$i-south: "\ee4e";
$i-south_east: "\ee4f";
$i-south_west: "\ee50";
$i-sports_bar: "\ee51";
$i-stairs: "\ee52";
$i-star_outline1: "\ee53";
$i-star_rate: "\ee54";
$i-sticky_note_2: "\ee55";
$i-stop_circle: "\ee56";
$i-stroller: "\ee57";
$i-subscript: "\ee58";
$i-subtitles_off: "\ee59";
$i-superscript: "\ee5a";
$i-support: "\ee5b";
$i-support_agent: "\ee5c";
$i-switch_left: "\ee5d";
$i-switch_right: "\ee5e";
$i-table_rows: "\ee5f";
$i-table_view: "\ee60";
$i-tapas: "\ee61";
$i-taxi_alert: "\ee62";
$i-text_snippet: "\ee63";
$i-tour: "\ee64";
$i-tty: "\ee65";
$i-umbrella: "\ee66";
$i-upgrade: "\ee67";
$i-verified: "\ee68";
$i-video_settings: "\ee69";
$i-view_sidebar: "\ee6a";
$i-wash: "\ee6b";
$i-water_damage: "\ee6c";
$i-west: "\ee6d";
$i-wheelchair_pickup: "\ee6e";
$i-wifi_calling: "\ee6f";
$i-wifi_protected_setup: "\ee70";
$i-wine_bar: "\ee71";
$i-wrong_location: "\ee72";
$i-wysiwyg: "\ee73";
$i-leaderboard: "\ee74";
$i-6_ft_apart: "\ee75";
$i-book_online: "\ee76";
$i-clean_hands: "\ee77";
$i-connect_without_contact: "\ee78";
$i-coronavirus: "\ee79";
$i-elderly: "\ee7a";
$i-follow_the_signs: "\ee7b";
$i-leave_bags_at_home: "\ee7c";
$i-masks: "\ee7d";
$i-reduce_capacity: "\ee7e";
$i-sanitizer: "\ee7f";
$i-send_to_mobile: "\ee80";
$i-sick: "\ee81";
$i-add_task: "\ee82";
$i-contact_page: "\ee83";
$i-disabled_by_default: "\ee84";
$i-facebook: "\ee85";
$i-groups: "\ee86";
$i-luggage: "\ee87";
$i-no_backpack: "\ee88";
$i-no_luggage: "\ee89";
$i-outbond: "\ee8a";
$i-published_with_changes: "\ee8b";
$i-request_page: "\ee8c";
$i-stacked_line_chart: "\ee8d";
$i-unpublished: "\ee8e";
$i-align_horizontal_center: "\ee8f";
$i-align_horizontal_left: "\ee90";
$i-align_horizontal_right: "\ee91";
$i-align_vertical_bottom: "\ee92";
$i-align_vertical_center: "\ee93";
$i-align_vertical_top: "\ee94";
$i-horizontal_distribute: "\ee95";
$i-qr_code_2: "\ee96";
$i-update_disabled: "\ee97";
$i-vertical_distribute: "\ee98";

